.not-allowed {
    cursor: not-allowed;
}

td {
    cursor: pointer;
}

html,
body,
.Login-component,
#root,
.modal-body,
.modal-dialog,
.modal-content,
.viewer,
.iframeDisplay {
    height: 100%;
}

.text-color {
    color: gainsboro;
}
.text-size {
    size: 16px;
}

.text-color:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.react-datepicker-wrapper {
    width: 100%;
}
